@import 'bootstrapCustom';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --h-height: 70px;
  --f-height: 112px;
  @include media-breakpoint-down(lg) {
    --f-height: 70px;
  }
  @include media-breakpoint-down(md) {
    --h-height: 50px;
    --f-height: 60px;
  }
  @include media-breakpoint-down(sm) {
    --h-height: 45px;
    --f-height: 50px;
  }
}

// "homepage": "https://ngf93.github.io/yoo",

$main-font: "Open Sans";
$radius: 1.25em;
$main-color: #0077FF;
$red: #E01E00;
$orange: #FF9D17;
$green: #00AB55;
$black: #1C1C1C;
$dark: #373737;
$dark-gray: #637381;
$gray: #C2C2C2;
$light-gray: #F4F6F8;
$white: #fff;
$transition: 300ms ease-in;

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $dir;
  justify-content: $x;
  align-items: $y;
  flex-wrap: $wrap;
}
@mixin no-appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
}
@mixin safariFix {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
@mixin absBG($z: 1, $top: 0%, $h: 100%) {
  position: absolute;
  top: $top;
  left: 0px;
  width: 100%;
  height: $h;
  z-index: $z;
}
@mixin clamp($count, $line, $strict: false) {
  display: -webkit-box;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: $line;
  @if $strict {
    height: $line * $count;
  } @else {
    max-height: $line * $count;
  }
}
@mixin list {
  list-style: none;
  padding-left: 0px;
}
@mixin placeholder($color, $fw: 400){
  &:-moz-placeholder, &::-moz-placeholder,
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
    color: $color;
    font-weight: $fw;
  }
  &::placeholder {
    color: $color;
    font-weight: $fw;
  }
}
@mixin rounedImg($w, $rad:50%, $fit:cover) {
  width: $w;
  height: $w;
  border-radius: $rad;
  object-fit: $fit;
}

@mixin shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}
@mixin lightShadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
}
@mixin scrollCustomized {
  scrollbar-color: $light-gray transparent;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: $white;
    @include shadow();
    &:hover,
    &:active {
      background: rgba($color: $main-color, $alpha: 0.05);
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: $light-gray;
    border-radius: 5px;
    transition: 0.2s;
    &:hover, &:active {
      background: rgba($color: $main-color, $alpha: 0.15)
    }
  }
  &::-webkit-scrollbar-button:vertical:start:decrement,
  &::-webkit-scrollbar-button:vertical:end:increment,
  &::-webkit-scrollbar-button:horizontal:start:decrement,
  &::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
  }
}


/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
  line-height: 135%;
  margin-bottom: 0px;
}

.rotateY-180 {transform: rotateY(180deg);}
.flex-1 {flex: 1;}

h1, h2 {
  font-size: 1.75em;
  font-weight: 600;
  margin-bottom: 1em;
}
h3 {
  font-size: 2.25em;
  font-weight: 400;
  margin-bottom: .5em;
  @include media-breakpoint-down(sm) {
    font-size: 2em;
  }
}
h4 {
  font-size: 1.875em;
  font-weight: 400;
  margin-bottom: .5em;
  @include media-breakpoint-down(md) {
    font-size: 1.7em;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.5em;
  }
}
h5 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: .5em;
  @include media-breakpoint-down(sm) {
    font-size: 1.25em;
  }
}
h6 {
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: .5em;
  @include media-breakpoint-down(sm) {
    font-size: 1em;
  }
}
.fs {
  &-08 {font-size: 0.8em;}
  &-09 {font-size: 0.9em;}
  &-10 {font-size: 1em;}
  &-11 {font-size: 1.1em;}
  &-12 {font-size: 1.2em;}
  &-13 {font-size: 1.3em;}
  &-14 {font-size: 1.4em;}
  &-15 {font-size: 1.5em;}
  &-16 {font-size: 1.6em;}
  &-17 {font-size: 1.7em;}
  &-18 {font-size: 1.8em;}
  &-19 {font-size: 1.9em;}
  &-20 {font-size: 2em;}
  &-22 {font-size: 2.2em;}
  &-25 {font-size: 2.5em;}
  &-30 {font-size: 3em;}
  &-35 {font-size: 3.5em;}
  &-40 {font-size: 4em;}
}
.fw {
  &-3 {font-weight: 300;}
  &-4 {font-weight: 400;}
  &-5 {font-weight: 500;}
  &-6 {font-weight: 600;}
  &-7 {font-weight: 700;}
  &-8 {font-weight: 800;}
  &-9 {font-weight: 900;}
}
.black {
  color: $black;
}
.gray {
  color: $gray;
}
.red {color: $red;}
.orange {color: $orange;}
.green {color: $green;}
.main-color {
  color: $main-color;
}
.main-color-60 {
  color: rgba($color: $main-color, $alpha: 0.6);
}

/* Form elements */
button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}
.btn {
  @include flex(row, center, center, nowrap);
  padding: .6em 1.2em;
  text-align: center;
  transition: $transition;
  width: fit-content;
  border-radius: $radius;
  /* голубая кнопка */
  &-1 {
    @extend .btn;
    color: #fff;
    background-color: $main-color;
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: darken($color: $main-color, $amount: 10%);
    }
  }
  /* красная кнопка */
  &-2 {
    @extend .btn;
    color: #fff;
    background-color: $red;
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: darken($color: $red, $amount: 5%);
    }
  }
  /* черная кнопка */
  &-3 {
    @extend .btn;
    color: rgba($color: #fff, $alpha: .87);
    background-color: $dark;
    font-weight: 600;
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: $black;
    }
  }
  /* кнопка c черной обводкой */
  &-30 {
    @extend .btn;
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    font-weight: 600;
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: $black;
    }
  }
  /* белая кнопка */
  &-4 {
    @extend .btn;
    color: $black;
    background-color: rgba($color: #fff, $alpha: .87);
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: $main-color;
    }
  }
  /* зеленая кнопка */
  &-5 {
    @extend .btn;
    color: $green;
    background-color: rgba($color: $green, $alpha: 0.1);
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: $green;
    }
  }
  /* светло-голубая кнопка */
  &-6 {
    @extend .btn;
    color: $main-color;
    background-color: rgba($color: $main-color, $alpha: 0.1);
    &:hover, &:focus, &:active, &.active {
      color: #fff;
      background-color: $main-color;
    }
  }
  &[disabled]{
    background: $light-gray;
    color: $dark;
  }
}
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {flex:1;}
}
.select {
  position: relative;
  &-button {
    width: 100%;
    position: relative;
    z-index: 10;
    @include flex();
    border: 1px solid $main-color;
    border-radius: $radius;
    padding: .45em 1em;
    &.borderless {
      border: none;
    }
    &-value {
      flex: 1;
      @include flex(row, flex-start, center, nowrap);
      img {
        width: 1.5em;
        height: 1.5em;
        object-fit: contain;
        margin-right: .5em;
        &.round {
          border-radius: 50%;
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
        }
      }
    }
    &-chevron {
      color: $main-color;
      margin-left: .5em;
    }
  }
  &-options {
    @include list();
    display: block;
    z-index: 5;
    position: absolute;
    top: calc(100% + .5em);
    left: 0%;
    width: fit-content;
    min-width: 200px;
    background-color: $white;
    @include shadow();
    border-radius: $radius*0.5;
    overflow: hidden;
    @include safariFix();
    @include media-breakpoint-down(lg) {
      min-width: fit-content;
    }
    li {
      &:not(:first-child){
        border-top: 1px solid $light-gray;
      }
    }
    label {
      cursor: pointer;
      background-color: $white;
      transition: $transition;
      padding: .5em 1em;
      &.active {
        background-color: rgba($color: $main-color, $alpha: 0.1);
      }
      img {
        width: 1.5em;
        height: 1.5em;
        object-fit: contain;
        margin-right: .5em;
        &.round {
          border-radius: 50%;
          filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
        }
      }
    }
  }
}

/* Sliders */
.swiper {
  position: relative;
  overflow: hidden;
  &-pagination {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    @include flex(row, center, center, nowrap);
    &-bullet {
      display: block;
      opacity: 1;
      width: .5em;
      height: .5em;
      border-radius: .25em;
      margin: 0 .75em !important;
      background-color: rgba($color: $main-color, $alpha: .3);
      transition: $transition;
      &-active {
        width: 1.8em;
      }
    }
  }
  &-button {
    position: absolute;
    bottom: 10px;
    z-index: 100;
    font-size: 2.75em;
    width: 1em;
    height: 1em;
    @include flex();
    transition: $transition;
    cursor: pointer;
    color: #fff;
    svg {
      stroke-width: 1px;
      fill: rgba($color: #fff, $alpha: 0.5);
    }
    &:hover {
      transform: scale(120%);
    }
    &-prev {
      @extend .swiper-button;
      left: 10px;
    }
    &-next {
      @extend .swiper-button;
      right: 10px;
    }
    &-disabled {
      opacity: 0;
    }
  }
  &.paginated {
    padding-bottom: 1.75em;
    .swiper-button {
      bottom: .9em;
    }
  }
}

body {
  margin: 0;
  font-family: $main-font, 'Arial', 'Tahoma', 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  @include media-breakpoint-down(xl) {
    font-size: 14px;
  }
}


header {
  height: var(--h-height);
  @include media-breakpoint-down(lg) {
    background-color: $white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1050;
    @include shadow();
    .select {
      &-button-value {
        span {display: none;}
      }
    }
  }
  nav {
    --pad: 40px;
    background-color: $white;
    padding: 0px var(--pad);
    @include shadow();
    border-radius: 0px 0px $radius $radius;
    width: calc(100% + var(--pad)*2);
    margin-left: calc(var(--pad) * -1);
    @include flex(row, space-between, center, nowrap);
    @include media-breakpoint-down(xl) {
      --pad: 30px;
    }
    @include media-breakpoint-down(lg) {
      --pad: 0px;
      box-shadow: none;
      border-radius: 0px;
    }
    svg {
      stroke-width: 1px;
    }
    ul {
      @include list();
      @include flex();
      &.text-menu {
        li {
          &:not(:first-child){
            margin-left: 2.5em;
            @include media-breakpoint-down(xxl) {
              margin-left: 1.5em;
            }
          }
        }
      }
      &.icons-menu {
        &>li {
          &:not(:first-child){
            margin-left: 1.25em;
          }
        }
        a {
          @include flex();
          color: $main-color;
          font-size: 1.75em;
        }
      }
    }
  }
  .logo {
    width: 100px;
  }
  .phone {
    @include flex(row, flex-start, center, nowrap);
    color: $black;
    transition: $transition;
    &:hover, &:focus, &:active {
      color: $main-color;
    }
  }
  .badge {
    font-size: 10px;
    background-color: $main-color;
    color: $white;
    width: 1.6em;
    height: 1.6em;
    @include flex();
  }
  .btn-menu {
    color: $gray;
    font-size: 2em;
    @include flex();
    transition: $transition;
    &:hover, &:focus, &:active {
      color: $main-color;
    }
  }
}
.offcanvas-menu {
  width: 100% !important;
  .offcanvas-body {
    padding: calc(var(--h-height) + 2em) 1em calc(var(--f-height) + 2em);
    .menu-offer {
      width: 100%;
      border-radius: $radius;
      margin-bottom: 2em;
    }
    nav {
      @include lightShadow();
      border-radius: $radius;
      overflow: hidden;
      @include safariFix();
      ul {
        @include list();
        li {
          &:not(:first-child){
            border-top: 1px solid $light-gray;
          }
          a, button {
            @include flex(row, flex-start, center, nowrap);
            font-size: 1.5em;
            padding: 1em;
            @include media-breakpoint-down(md) {
              font-size: 1.25em;
            }
            @include media-breakpoint-down(sm) {
              font-size: 1.1em;
            }
            svg {
              font-size: 1.6em;
              color: $main-color;
              margin-right: .5em;
              @include media-breakpoint-down(sm) {
                margin-right: .25em;
              }
            }
          }
        }
      }
    }
    .box {
      background-color: $white;
      @include lightShadow();
      padding: 1em;
      border-radius: $radius*0.25;
    }
  }
}


main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  padding: 3em 0px;
  @include media-breakpoint-down(lg) {
    min-height: 100vh;
    padding: var(--h-height) 0px var(--f-height);
  }
}


.sec-1 {
  position: relative;
  overflow: hidden;
  .main-slider {
    overflow: visible;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: $radius;
      @include media-breakpoint-down(lg) {
        height: 330px;
      }
      @include media-breakpoint-down(md) {
        border-radius: 0px;
        height: auto;
      }
    }
  }
}


.sec-2 {
  --w: 150px;
  @include media-breakpoint-down(md) {
    position: relative;
  }
  @include media-breakpoint-down(sm) {
    --w: 90px;
  }
  .swiper-stories {
    .swiper-slide {
      width: calc(var(--w) + 1em);
    }
    .swiper-button {
      bottom: 50%;
      transform: translateY(50%);
      color: rgba($color: $main-color, $alpha: 0.6);
    }
  }
}
.story {
  padding: 3px;
  img {
    display: block;
    margin: 0 auto 1em;
    @include rounedImg(var(--w));
    border: 2px solid #fff;
    outline: 3px solid rgba($color: $main-color, $alpha: 0.3);
    @include media-breakpoint-down(md) {
      border: 1px solid #fff;
      outline: 2px solid rgba($color: $main-color, $alpha: 0.3);
    }
  }
  figcaption {
    font-size: .9em;
    text-align: center;
    @include media-breakpoint-down(sm) {
      font-size: .75em;
    }
  }
  &-big {
    img {
      display: block;
      width: 450px;
      height: 800px;
      object-fit: cover;
      border-radius: $radius*0.5;
    }
  }
}
.story-modal {
  .modal {
    &-dialog {
      max-width: 450px;
    }
    &-content {
      background-color: transparent;
      border: none;
      border-radius: unset;
    }
    &-body {
      padding: 0px;
      position: relative;
      .swiper-stories-modal {
        position: unset;
        width: 450px;
        .swiper-button {
          bottom: 50%;
          transform: translateY(50%);
          font-size: 2em;
          svg {
            fill: transparent;
          }
          &-prev {
            left: -1.25em;
          }
          &-next {
            right: -1.25em;
          }
        }
        .swiper-scrollbar {
          position: absolute;
          z-index: 100;
          top: 1em;
          left: 1em;
          width: calc(100% - 2em);
          height: 1px;
          background-color: $white;
          &-drag {
            height: 3px;
            background-color: $white;
            margin-top: -1px;
          }
        }
      }
      .close {
        position: absolute;
        top: 0px;
        left: calc(100% + 0.25em);
        color: $white;
        font-size: 2em;
        @include flex();
        transition: $transition;
        background-color: transparent;
        border-radius: $radius*0.15;
        &:hover, &:focus, &:active {
          color: $red;
          background-color: $white;
        }
      }
    }
  }
}


.sec-3 {
  @include media-breakpoint-up(md) {
    margin-top: 8em;
  }
  .box {
    background-color: $white;
    @include shadow();
    padding: $radius;
    border-radius: $radius;
    @include media-breakpoint-down(md) {
      padding: 0px 1em;
      border-radius: 0px;
      box-shadow: none;
    }
    .btn-view {
      position: relative;
      color: $gray;
      font-size: 1.5em;
      svg {
        position: relative;
        z-index: 10;
      }
      img {
        position: absolute;
        bottom: 0px;
        right: -4.5em;
        z-index: 1;
      }
    }
  }
}
.category-card {
  position: relative;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: $radius;
    margin-bottom: $radius*0.5;
    @include media-breakpoint-down(xxl) {
      height: 180px;
    }
    @include media-breakpoint-down(lg) {
      height: 150px;
    }
    @include media-breakpoint-down(sm) {
      height: 30vw;
      border-radius: $radius*0.5;
    }
  }
  figcaption {
    text-align: center;
    a {
      transition: $transition;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.sec-4 {
  background-image: url(imgs/curve.svg), url(imgs/trapezoid.svg);
  background-repeat: no-repeat;
  background-position: 12% 55%, center bottom;
  background-size: 62% auto, 100% calc(100% - 10em);
  padding: 15em 4em 3em;
  position: relative;
  @include media-breakpoint-down(xxl) {
    padding: 10em 3em 2em;
    background-position: 12% 25%,center bottom;
    background-size: 62% auto,100% calc(100% - 5em);
  }
  @include media-breakpoint-down(xl) {
    padding: 6em 3em 2em;
    background-position: 12% 0%, center bottom;
    background-size: 62% auto, 100% calc(100% - 1em);
  }
  @include media-breakpoint-down(lg) {
    padding: 5em 2em 1.5em;
    background-position: 0% 0%, center bottom;
    background-size: 80% auto, 100% calc(100% - 1em);
    .fs-16 {font-size: 1.3em}
  }
  @include media-breakpoint-down(md) {
    padding: 4em 1.5em 1em;
    .fs-20 {font-size: 1.5em}
  }
  @include media-breakpoint-down(sm) {
    padding: 3em 1em 1em;
    font-size: 10px;
    .fs-16 {font-size: 1.2em}
  }
  .logotips {
    @include list();
    @include flex(row, flex-start, center, nowrap);
    li {
      &:not(:first-child){
        margin-left: 3em;
        @include media-breakpoint-down(lg) {
          margin-left: 2em;
        }
        @include media-breakpoint-down(md) {
          margin-left: 1em;
        }
      }
    }
    img {
      height: 60px;
      @include media-breakpoint-down(xl) {
        height: 55px;
      }
      @include media-breakpoint-down(lg) {
        height: 50px;
      }
      @include media-breakpoint-down(md) {
        height: 40px;
      }
      @include media-breakpoint-down(sm) {
        height: 30px;
      }
    }
  }
  .phone {
    position: absolute;
    bottom: -7%;
    right: -5%;
    width: 50%;
    @include media-breakpoint-down(xl) {
      bottom: -5%;
      width: 45%;
    }
    @include media-breakpoint-down(lg) {
      width: 55%;
      right: -10%;
    }
    @include media-breakpoint-down(md) {
      width: 60%;
      right: -20%;
      bottom: 5%;
    }
  }
}


.sec-5 {
  position: relative;
  overflow: hidden;
  .product-slider {
    overflow: visible;
    padding: 1em 0px;
    .swiper-slide {
      width: fit-content;
    }
  }
}
.product-card-mini {
  padding: 1em;
  @include shadow();
  border-radius: $radius;
  @include flex(row, flex-start, stretch, nowrap);
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
  img {
    --card-mini-w: 130px;
    @include rounedImg(var(--card-mini-w), $radius, scale-down);
    margin-right: $radius;
    @include media-breakpoint-down(lg) {
      --card-mini-w: 200px;
      margin-right: 0px;
    }
  }
  figcaption {
    @include flex(column, space-between, stretch, nowrap);
    a {
      transition: $transition;
      &:hover {
        color: $main-color;
      }
    }
  }
}

.sec-6 {
  --offer-w: 415px;
  @include media-breakpoint-down(xxl) {
    --offer-w: 355px;
  }
  @include media-breakpoint-down(xl) {
    --offer-w: 300px;
  }
  @include media-breakpoint-down(lg) {
    --offer-w: 310px;
  }
  @include media-breakpoint-down(md) {
    --offer-w: 240px;
  }
  @include media-breakpoint-down(sm) {
    --offer-w: 41vw;
  }
  .offer {
    width: 100%;
    position: relative;
    @include shadow();
    transition: 200ms linear;
    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: var(--offer-w);
      object-fit: cover;
      border-radius: $radius;
    }
    figcaption {
      @include absBG(10);
      color: $white;
      padding: 2em;
      @include flex(column, space-between, stretch, nowrap);
      @include media-breakpoint-down(xl) {
        padding: 1em;
      }
      @include media-breakpoint-down(sm) {
        font-size: 11px;
      }
      h6 {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }
  }
  .sw-offers {
    @include media-breakpoint-up(lg) {
      padding: 1em;
    }
    &:hover {
      .offer {
        transform: rotate(0deg) !important;
      }
    }
    .swiper-slide {
      width: var(--offer-w);
      @include media-breakpoint-up(lg) {
        &:nth-child(odd){
          .offer {transform: rotate(3deg);}
        }
        &:nth-child(even){
          .offer {transform: rotate(-3deg);}
        }
      }
    }
  }
}


.sec-7 {
  .box {
    height: 700px;
    @include flex(column, flex-start, stretch, nowrap);
  }
  ul {
    flex: 1;
    overflow: auto;
    @include scrollCustomized();
    li {
      border-bottom: 1px solid $light-gray;
      padding: 1.5em 0px;
    }
  }
  .map {
    border-radius: $radius;
    overflow: hidden;
    @include safariFix();
    @include flex();
    height: 700px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

footer {
  height: var(--f-height);
  background-color: $black;
  color: $white;
  @include media-breakpoint-down(lg) {
    background-color: $white;
    color: $dark-gray;
    @include shadow();
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1050;
    @include shadow();
  }
  .desktop {
    height: 100%;
    @include flex(row, space-between, center, nowrap);
    .logo {
      width: 140px;
      @include media-breakpoint-down(xl) {
        width: 100px;
      }
    }
    a {
      transition: $transition;
      &:hover {
        color: lighten($color: $main-color, $amount: 20%);
      }
    }
  }
  .mobile {
    a {
      @include flex();
      padding: 0.5em 0.75em;
      border-radius: $radius*0.5;
      svg {
        font-size: 1.6em;
      }
      span {
        max-width: 0px;
        overflow: hidden;
      }
      &.active {
        background-color: $main-color;
        color: $white;
        span {
          max-width: fit-content;
          margin-left: .75em;
        }
      }
    }
  }
}